<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita molestias
    distinctio qui sequi accusamus perspiciatis obcaecati culpa facere sunt?
    Dolorem?
  </p>

  <footer class="quote__footer">
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Joel fernando</h3>
        <p class="media__company quote__companyName">Bread of life</p>
      </div>
    </div>
  </footer>
</blockquote>
